
<div id="error">
            <div class="inner">
                <h1 class="error-text">Empty {{title}}</h1>
                <a href="/shop" class="btn">
                    back to shop <i class="fas fa-store-alt"></i>
                </a>
            </div>
        </div>