
<div id="error">
            <div class="inner">
                <h1 class="error-text">No item present</h1>
                <a href="/shop" class="btn">
                    explore more <i class="fas fa-store-alt"></i>
                </a>
            </div>
        </div>