
        {{>pageInfo}}
        <div id="story">
            <div class="inner">
            <h2>our <span>story</span></h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Rem vitae natus quibusdam explicabo 
                aut similique sunt maiores alias odit cupiditate voluptatem, 
                tempora necessitatibus rerum possimus iste hic ratione tempore aperiam?
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Rem vitae natus quibusdam explicabo 
                aut similique sunt maiores alias odit cupiditate voluptatem, 
                tempora necessitatibus rerum possimus iste hic ratione tempore aperiam?
            </p>
            <img src="images/sign.png" alt="">
            </div>
        </div>

        <div id="service-section">
            <div class="row inner">
                <div class="service">
                    <i class="fas fa-shipping-fast"></i>
                <div class="service-text">
                    <h3>free shipping</h3>
                    <p>capped at $319 per order</p>
                </div>
            </div>
            <div class="service">
                    <i class="fas fa-credit-card"></i>
                <div class="service-text">
                    <h3> safe payment</h3>
                    <p>With our payment gateway</p>
                </div>
            </div>
            <div class="service">
                <i class="fas fa-hand-holding-heart"></i>              
                <div class="service-text">
                    <h3>Best services</h3>
                    <p> friendly and super services</p>
                </div>
            </div>
            </div>
        </div>

        <div id="video-section">
            <div class="inner">
                <div id="video">
                    <div id="popup">
                        <a href="https://player.vimeo.com/video/172601404?autoplay=1">
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>

                <div id="counter-section">
                    <div id="counter-text">
                        <h2>Lorem ipsum dolor sit amet <span>consectetur,</span>
                        adipisicing elit. 
                        Quidem <span>laboriosam</span> a beatae repudiandae?
                    </h2>
                    </div>
                    <div id="counter" class="row">
                        <div class="counter">
                            <h2><span>150</span>+</h2>
                            <h3>projects</h3>
                        </div>
                        <div class="counter">
                            <h2><span>359</span>+</h2>
                            <h3>clients</h3>
                        </div>
                        <div class="counter">
                            <h2><span>251</span>+</h2>
                            <h3>rating</h3>
                        </div>
                        <div class="counter">
                            <h2><span>110</span>+</h2>
                            <h3>awards</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="team">
            <h1 class="heading"> our team </h1>
            <p class="sub">
                Contrary to popular belief, Lorem Ipsum is not simply random text.
                It has roots<br> in a piece of classical Latin literature
            </p>
            <div id="team-member" class="row" style="gap:0">
                <div class="member">
                    <div class="img">
                        <img src="images/comment 4.webp" alt="">
                        <div class="profile">
                            <h3>micheal murphy</h3>   
                            <p>sales man</p>
                        </div>
                    </div>
                    <h3 class="name">micheal murphy</h3>
                    
                </div>
                <div class="member">
                    <div class="img">
                        <img src="images/comment 3.jpg" alt="">
                        <div class="profile">
                            <h3>micheal murphy</h3>   
                            <p>sales man</p>
                        </div>
                    </div>
                    <h3 class="name">micheal murphy</h3>
                    
                </div>
                <div class="member">
                    <div class="img">
                        <img src="images/comment 2.jpg" alt="">
                        <div class="profile">
                            <h3>micheal murphy</h3>   
                            <p>sales man</p>
                        </div>
                    </div>
                    <h3 class="name">micheal murphy</h3>
                    
                </div>
                <div class="member">
                    <div class="img">
                        <img src="images/comment 1.jpg" alt="">
                        <div class="profile">
                            <h3>micheal murphy</h3>   
                            <p>sales man</p>
                        </div>
                    </div>
                    <h3 class="name">micheal murphy</h3>
                    
                </div>
            </div>
        </div>

        <div id="brand-section">
            <div class="inner">
             <div id="brand" class="row-2">
                 <a href="home.html" class="brand">
                     <img src="images/brand 1.png" alt="">
                 </a>
                 <a href="home.html" class="brand">
                     <img src="images/brand 2.png" alt="">
                 </a>
                 <a href="home.html" class="brand">
                     <img src="images/brand 3.png" alt="">
                 </a>
                 <a href="home.html" class="brand">
                     <img src="images/brand 4.png" alt="">
                 </a>
                 <a href="home.html" class="brand">
                     <img src="images/brand 5.png" alt="">
                 </a>
             </div>
         </div>
            </div>
     </div>

       