
        {{>pageInfo}}
        <div id="contact-section">
            <div id="contact-section-inner" class="inner">
                <div id="contact-info">
                    <h2>
                        contact info:
                    </h2>
                    <p class="sub">
                        Fill the form and our team will get to back to you within 24 hours. 
                    </p>
                    <ul class="sub">
                        <li>
                            <i class="fas fa-phone-alt"></i> <a href="">123 456 789</a>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i> <a href="">info@example.com</a>
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i> 13, your address, here
                        </li>
                    </ul>
                </div>
                
                <form id="contact-form">
                        <input type="text" placeholder="first name*" pattern="[A-Za-z]+[A-Za-z]*" required="required">
                        <input type="text" placeholder="last name*" pattern="[A-Za-z]+[A-Za-z]*"  required="required">
                        <input type="text" placeholder="phone*" pattern="[6789][0-9]{9}"  required="required">
                        <input type="email" placeholder="email*"  required="required">
                        <textarea name="" id="" cols="30" rows="5" placeholder="message"   required="required"></textarea>
                        <input type="submit" value="post comment" class="btn formBtn">
                </form>
                
            </div>
        </div>

 