
       
        {{>pageInfo}}
        <div id="error">
            <div class="inner">
                <img src="images/404.webp" alt="">
                <h1 class="error-text"> Oops, page not found!</h1>
                <a href="/" class="btn">
                    back to home <i class="fas fa-home"></i>
                </a>
            </div>
        </div>

        