                <div id="forms">
                    <div class="signup" >
                    <h2>Reset password</h2>
                    <form action="{{url}}" class="form" method="POST">
                        <label for="" >Password</label>
                        <input type="password" placeholder="password"  name="password" required>
                        <label for="" >Confirm password</label>
                        <input type="password" placeholder="Confirm password" name ="confirmPassword" required>
                        <input type="submit" value="Save" class="btn">
                    </form>
                </div>
                </div>