        {{>pageInfo}}
        <div id="error">
            <div class="inner">
                <h1> Thank You </h1>
                <h2>Your order has been made successfully!</h2>
            </div>
        </div>